@model InputProductModel

@{
    ViewData["Title"] = "Product Details";
}
<main class="mt-3 mb-5">
    <h1 class="text-center">@Model.Name</h1>
    <hr class="hr-2 bg-dark" />
    <div class="product-type-holder half-width mx-auto d-flex justify-content-between">
        <h3 class="text-center">Type: @Model.ProductType</h3>
        <h3 class="text-center">Price: $@Model.Price.ToString("F2")</h3>
    </div>
    <hr class="hr-2 bg-dark" />
    <h3 class="text-center">Description</h3>
    <div class="product-description-holder">
        <p class="text-center mt-4">
            @Model.Description
        </p>
    </div>
    <hr class="hr-2 bg-dark" />
    <h3 class="text-center">Actions</h3>
    <center>
        <div class="product-action-holder mt-4 d-flex justify-content-around w-50">
            @if (User.IsInRole("Admin"))
            {
                <a class="btn chushka-bg-color" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            }
            <form method="post" asp-controller="Product" asp-action="AllOrders" asp-route-id="@Model.Id">
                <button type="submit" class="btn chushka-bg-color">Order</button>
            </form>
            @if (User.IsInRole("Admin"))
            {
                <a class="btn chushka-bg-color" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            }
        </div>
    </center>
</main>